version: 2.1

jobs:
  build_apk:
    docker:
    - image: instrumentisto/flutter:3.27.4

    steps:
    - checkout
    - run:
        name: "Install Java 21"
        command: |
          sudo apt-get update
          sudo apt-get install -y openjdk-21-jdk

    # - run:
    #     name: "Decode KeyStore"
    #     command: |
    #       echo "$KEYSTORE_BASE64" |
    #       base64 --decode > android/app/upload-keystore.jks

    - run:
        name: "Flutter Build APK"
        command: |
          flutter clean 
          flutter pub get
    - run:

        name: "Build APK"
        # environment:
        # KEYSTORE_PATH: app/upload-keystore.jks
        command: |
          echo "Building APK with keystore at $KEY_ALIAS pth= $KEYSTORE_PATH" 
          flutter build apk --debug
          flutter pub run lib/scripts/upload_to_minio.dart

workflows:
  build:
    jobs:
    - build_apk
